body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

header{
    padding: 25px;
    background-color: #89BE7E;
    display: flex;
    justify-content: left;
    gap: 15px;
    font-size: 30px;
    font-weight: 800;
}

#checkedImg{
    height: 35px;
    margin-top: 4px;
}

#content{
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 5fr;
}



